body {
	font-family: arial, sans-serif;
	font-size: 100%;
	background: #fff;
	margin: 10px 10px 10px 10px;
}

.hdr {
	background-color: #e5ecf9;
	border-top: 1px solid #3366cc;
	font-weight: bold; 
	font-size: 110%;
	margin: 4px; 
	padding: 2px;
}

.bdy {
	font-size: 83%;
	margin: 4px; 
	padding: 2px;
}

.hlp {
	background-color: #e5ecf9;
	font-size: 83%;
	margin: 4px; 
	padding: 10px;
}

.tbld {
	vertical-align: top;
}

.btns {
	text-align: left;
	vertical-align: top;
	font-size: 83%;
	margin: 4px; 
	padding: 2px;
}
