<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>uml_ws</servlet-name>
        <servlet-class>org.modsl.web.UMLWebServiceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>uml_ws_jsp</servlet-name>
        <jsp-file>/uml.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>uml_ws</servlet-name>
        <url-pattern>/uml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>uml_ws_jsp</servlet-name>
        <url-pattern>/umlj</url-pattern>
    </servlet-mapping>

</web-app>
